11. Databases and SQL/15. Processing XML in .NET/15. XSD Schema Validation of XML/catalog.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="albums">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="album">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="artist" type="xs:string" />
                            <xs:element name="year" type="xs:unsignedShort" />
                            <xs:element name="producer" type="xs:string" />
                            <xs:element name="price" type="xs:decimal" />
                            <xs:element name="songs">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="song">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="title" type="xs:string" />
                                                    <xs:element name="duration" type="xs:decimal" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>