13. Web Services and Cloud/03. Windows Communication Foundation (WCF)/0. Demos/CalculatorAsyncInvoke/Service References/ServiceCalculator/ServiceCalculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ServiceCalculator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceCalculator.Web" />
  <xs:element name="Calculate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstValue" type="xs:int" />
        <xs:element minOccurs="0" name="secondValue" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceCalculator.Web" minOccurs="0" name="operationType" type="q1:CalculationOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>